/******************
  BASE RULES
******************/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block}
/* 10px/16*100=62.5%---10px=1rem */
html {font-size:62.5%;font-family: 'Open Sans', sans-serif;font-weight:400; -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
      color:#4E4C4C;background-color:#F4F7F6;-webkit-font-smoothing: antialiased;
}
body {font-size:14px;font-size:1.4rem;line-height:1.5;margin:0;background-color:#F4F7F6}
img {max-width:100%;border:0;vertical-align:middle;-ms-interpolation-mode: bicubic}
figure {margin:0}

a,a:visited{cursor:pointer;color:#4E4C4C;text-decoration:none;-webkit-touch-callout: none}
a:focus {outline:thin dotted}
a:active,a:hover {outline:0}

h1 {font-size:35px;font-size:3.5rem;margin:0;font-family: 'Wendy One', sans-serif;font-weight:400;text-transform:uppercase;
    -webkit-font-smoothing: antialiased
}
h2 {font-size:19px;font-size:1.9rem;margin:0.83em 0}
h3 {font-size:16px;font-size:1.6rem;margin:1em 0}

ol,ul {margin:1em 0;padding:0 0 0 2em;list-style:none;list-style-image:none}
p {color:#444;text-align:justify}

strong {font-weight:bold}
q {quotes: "\201C" "\201D" "\2018" "\2019"}
svg:not(:root) {overflow:hidden}

::-moz-selection {background:#b3d4fc;text-shadow:none}
::selection {background:#b3d4fc;text-shadow:none}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}

.browserupgrade {margin:0;background:#ccc;text-align:center}.browserupgrade a{text-decoration:underline}
/******************
  UTILITIES
******************/
.u-textCenter {
  text-align:center;
}

/******************
  LAYOUT RULES
******************/
.g-wrapper{width:94%;margin:0 auto}
.g-wrapper-cta{margin:0 auto}
.clearfix:before,.clearfix:after {content: " ";display:table}
.clearfix:after {clear:both}

/******************
  MODULES RULES
******************/
.logo{text-align:center;margin-top:0.5em}
.logo p{display:none}
.nav-list{margin:0;padding:1em 0;text-align:center}
.nav-list li{display:inline}
.nav-list a{padding:0.5em 0.9em}
.main-nav{text-transform:uppercase}
.main-nav a{padding:1em;font-size:13px;font-size:1.3rem}

.focused-list {margin-top:0}
.focused h2{text-align:center}
.focused-wrapper{margin: 0 auto 0.7em auto}
.focused-list li:before{content:"\2713";color:#ff3000;margin-right: 0.4em}





.work-article{border-left: 10px solid}
.work-article:last-child{margin-bottom:1.3em;}
.work-txt{padding:0 0.5em}
.intro-recent-pro {width: 90%;margin-left: auto;margin-right: auto;max-width: 56em}


.bluefin {border-left-color: #6495ED}
.ar-london {border-left-color: #ea2503}
.gliffaeshotel {border-left-color: #cbe757}
.ar-cornwall {border-left-color: #09305b}
.princ-vic,
.ar-brighton {border-left-color: #C8E07C}
.chefs-club {border-left-color: orangered}
.artistresidence,
.lady-ott,
.emilyhankins {border-left-color: #B0DBF0}




.big-img{margin-top:1em}
.big-img img{display:block;margin:0 auto}


/*============DONE=========================*/



.home-main-section,.work-section h2,.contact-section h2{text-align:center}
.home-main-article{width:96%;margin:2em auto 4.1em}
.home-main-article h2{font-family: 'Wendy One', sans-serif;font-weight:400;text-transform:uppercase;font-size:17px;font-size:1.7rem;
                      margin-top:0
}
.home-main-article p{color:#4E4C4C;margin-bottom:0;font-size:15px;font-size:1.5rem}

.section-ctaction{padding:3em 1.3em;text-align:center}
.mailto{margin-top:1.2em}
.section-ctaction a{font-size:15px;font-size:1.5rem;display:block;padding: 1em 1.6em;border-radius:4px;
                    border: 8px solid rgba(245, 245, 245, 0.2);
}

.edge-css a{-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;
            -moz-background-origin:padding-box;-webkit-background-origin:padding-box;background-origin:padding-box;
            -webkit-box-shadow:0 6px 10px rgba(0,0,0,.6);box-shadow:0 6px 10px rgba(0,0,0,.6);
            font-weight:bold;color:white;text-shadow: 0 -1px -1px grey
}

.footer{background-color:#F4F7F6;padding-top:1.3em}
.footer p{text-align:center}
.footer strong{letter-spacing:0.1em}









/******************
  THEME RULES
******************/
.g-header{background-color:white;border-bottom: 1px solid #DFDFDF}

/*.home-main-section{background-color:#F4F7F6}*/
/*.about-section,.work-section,.contact-section{background-color:#F4F7F6}*/
/*x*/ .work-article:nth-child(odd){background-color:white}
.section-ctaction{background: url('../img/grid-pattern.png');
                  border-top: 1px solid #DFDFDF;border-bottom: 1px solid #C5C4C4
}
/*x*/ .focused{border-top:5px solid #DFDFDF;border-bottom:5px solid #C5C4C4}
/*x*/ .focused-code{background:#0C1425;border-top-color: #5AA4C0;border-bottom-color:#5AA4C0}
/*x*/ .focused-code h2{color:#B2CC33}
/*x*/ .focused-code .focused-list{color:snow}

.section-ctaction{background-color:white}

/*without background-color backround-clip doesn't work!'*/
.edge-css a{background-color:#ff3000;background-image:url('../img/ctaction-pattern.png')}
.about-btn a{background-color:#5AA4C0}
.mailto a{background-color:#B2CC33;color:#333;text-shadow: 0 1px 1px #DBD3D3}

.content a { text-decoration: underline; }
.content a:hover,
.content a:focus { text-decoration: none; }

.social-links {
  text-align: center;
  clear: both;
}
.social-links a {
  display: inline-block;
  padding: 0.5em 0.9em;
  text-decoration: underline;
}
/******************
  CHANGING STATES
******************/
/*x*/ a{-webkit-transition: 0.3s ease-out;-moz-transition: 0.3s ease-out;-o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;transition: 0.3s ease-out}

/*x*/ .nav-list a,.work-article a{text-decoration:underline}
/*x*/ .nav-list a:active,.nav-list a:focus,.nav-list a:hover,
/*x*/ .work-article a:active,.work-article a:focus,.work-article a:hover,
/*x*/ .social-links a:active, .social-links a:focus, .social-links a:hover {text-decoration:none}

/*x*/ .edge-css a:active,.edge-css a:focus,.edge-css a:hover{background-color:#FF1400}
/*x*/ .about-btn a:active,.about-btn a:focus,.about-btn a:hover{background-color:#3593B6}
/*x*/ .mailto a:active,.mailto a:focus,.mailto a:hover{background-color:#9DBD07}
/*MEDIA QUERIES*/
@media only screen and (min-width: 30.0625em) {
.home-main-article{width:94%}
.home-main-article h2{font-size:18px;font-size:1.8rem}

/*x*/ .main-nav a{font-size:14px;font-size:1.4rem}

/*x*/ .focused{text-align:center}
/*x*/ .focused-wrapper{display:inline-block}
/*x*/ .focused-list{float:left;text-align:left;vertical-align:top}

.section-ctaction a{width:72%;margin:0 auto}
}
/**/
@media only screen and (min-width: 34.375em) {
/*x*/ html{font-size:65%}
/*x*/ h2 {font-size:20px;font-size:2rem}
/*x*/ h3 {font-size:17px;font-size:1.7rem}
.g-wrapper,.g-wrapper-cta{width:90%}
.home-main-article{width:90%}
}
/**/
@media only screen and (min-width: 37.5em) {
.home-main-article{width:86%}
.home-main-article h2{font-size:22px;font-size:2.2rem}
.home-main-article p{font-size:17px;font-size:1.7rem}

.section-ctaction a{width:62%}
}
/**/
@media only screen and (min-width: 48em) {
/*x*/ html{font-size:70%}
/*x*/ h2 {font-size:22px;font-size:2.2rem}
/*x*/ h3 {font-size:19px;font-size:1.9rem}
/*x*/ .g-wrapper,.g-wrapper-cta{width:85%}

.home-main-article{width:80%}
.home-main-article h2{font-size:25px;font-size:2.5rem}
.home-main-article p{font-size:20px;font-size:2rem}

.work-icon{width:25%}
.section-ctaction a{width:55%}
}
/**/
@media only screen and (min-width: 56.25em) {
/*x*/ .g-wrapper,.g-wrapper-cta{width:80%}
.work-icon{width:20%}
}
/**/
@media only screen and (min-width: 62em) {
/*x*/ html{font-size:75%}
/*x*/ h2 {font-size:24px;font-size:2.4rem}
/*x*/ h3 {font-size:21px;font-size:2.1rem}

.home-main-article h2{font-size:25px;font-size:2.5rem}
.home-main-article p{font-size:17px;font-size:1.7rem}

.section-ctaction a{width:47%}
}
/**/
@media only screen and (min-width: 75em) {
/*x*/ html{font-size:79%}
/*x*/ h2 {font-size:25px;font-size:2.5rem}
/*x*/ h3 {font-size:22px;font-size:2.2rem}

/*x*/ .g-header-container{width:80%;margin:0 auto 1em}
/*x*/ .logo{float:left;text-align:left}
/*x*/ h1{font-size:35px;font-size:3.5rem;line-height:1.4}
/*x*/ .logo p{margin-left:0.175em;font-size:15px;font-size:1.5rem}
/*x*/ .main-nav{float:right;margin-top:1.4em}

/*x*/ .nav-list a,
/*x*/ .social-links a {text-decoration:none}
/*x*/ .home-a a:hover,.home-a a:focus{color:#0C1425}
/*x*/ .about-a a:hover,.about-a a:focus{color:#5AA4C0}
/*x*/ .work-a a:hover,.work-a a:focus{color:#ff3000}
/*x*/ .contact-a a:hover,.contact-a a:focus{color:#B2CC33}

.footer{padding-top:0.8em}
.footer-email{float:left}
.footer-nav{float:right}
.copy{clear:both;}

.home-main-article h2{font-size:27px;font-size:2.7rem}
.home-main-article p{font-size:19px;font-size:1.9rem}

/*x*/ .logo p{display:inline}

.section-ctaction a{width:34%}
.social-links a:active,
.social-links a:focus,
.social-links a:hover {color: #5AA4C0}
}
/**/
/*x*/ @media only screen and (min-width: 86.375em) {
/*x*/ .g-wrapper,.g-wrapper-cta,.g-header-container{width:75%}
/*x*/ .g-wrapper,.g-wrapper-cta,.g-header-container{max-width:86.375em}
/*x*/ }
/**/
@media only screen and (min-width: 93.75em) {
.work-icon{width:15%}
.home-main-article{width:69%}
}
/**/
@media only screen and (min-width: 120em) {
.home-main-article{width:65%}
}
/**/
@media only screen and (min-width: 140em) {
.home-main-article{width:50%}
}
/**/
@media only screen and (min-width: 300em) {
.home-main-article{width:40%}
}
/******************
  PRINT RULES
******************/
/*x*/ @media print {
/*x*/ * {background: transparent !important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
/*x*/ a,a:visited {text-decoration:underline}a[href]:after {content: "(" attr(href) ")"}
/*x*/ img {page-break-inside: avoid}img {max-width:100%!important}
/*x*/ @page {margin:0.5cm}p,h2,h3 {orphans:3;widows:3}h2,h3 {page-break-after:avoid}
/*x*/ }
