/* ==========================================================================
Component => c-
This is a concrete, implementation-specific piece of UI.
Usually when we make changes to a Component’s ruleset, we will immediately
see those changes happening every (and only) where we’d expect.
Should not affect anything else in the site other than the Component itself.
========================================================================== */

/* Work Page
   ========================================================================== */
.intro-recent-pro {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  max-width: 56em;
}

@include min-screen(75em) {
  .intro-recent-pro {
    width: 80%;
  }
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1090px;
  margin: auto;
  margin-bottom: 1em;

  a {
    text-decoration: none;
    margin: 10px;
  }
}

.card {
  border: 1px solid #dfdfdf;
  transition: border-color 0.4s;
  background-color: white;
  width: 255px;
  height: 330px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card:hover {
  border-color: #cac8c8;
}

.card__top {
  text-align: center;
  padding-top: 2em;
}

.card__img {
  margin-bottom: 2em;
  display: inline-block;
  border-radius: 50%;
  padding: 0.3em;
  background-image: linear-gradient(
    to bottom right,
    #09305b,
    #b0dbf0,
    #6495ed,
    #ea2503,
    #ea7803,
    #c8e07c
  );
}

.card__title {
  margin: 0;
  font-size: 22px;
  padding: 0 1em;
}

.card__bottom {
  width: 100%;
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
