/* ==========================================================================
   Typo
   ========================================================================== */



/* Sets up that Base 10 stuff  10px/16 * 100 = 62.5% => 1rem = 10px
   ========================================================================== */
html {
  font-size: 62.5%;
  font-feature-settings: "liga", "dlig";
  // -webkit-font-smoothing: antialiased;
  color: $text-color;
}

body {
  font-size:1.4rem;
  line-height:1.5;
}

/* Font Family and more...
   ========================================================================== */
html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


h1 {
  font-size:3.5rem;
  margin:0;
  font-family: 'Wendy One', sans-serif;
  font-weight:400;
  text-transform:uppercase;
}

h2 {
  font-size:1.9rem;
  margin:0.83em 0;
}

h3 {
  font-size:1.6rem;
  margin:1em 0;
}

.h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}



/* Font bump
   ========================================================================== */
@include min-screen(34.375em) {
  html{font-size:65%}
  h2 {font-size:2rem}
  h3 {font-size:1.7rem}
}

@include min-screen(48em) {
  html{font-size:70%}
  h2 {font-size:2.2rem}
  h3 {font-size:1.9rem}
}

@include min-screen(62em) {
  html{font-size:75%}
  h2 {font-size:2.4rem}
  h3 {font-size:2.1rem}
}

@include min-screen(75em) {
  html{font-size:79%}
  h2 {font-size:2.5rem}
  h3 {font-size:2.2rem}
}








/* Links
   ========================================================================== */
a,
a:visited {
  cursor: pointer;
  color: $text-color;
  -webkit-touch-callout: none;
}

a:focus {
  outline: thin dotted;
  text-decoration: none;
}

a:active,
a:hover {
  outline:0;
  text-decoration: none;
}


a{transition: 0.3s ease-out}

.nav-list a,.work-article a{text-decoration:underline}
.nav-list a:active,.nav-list a:focus,.nav-list a:hover,
.work-article a:active,.work-article a:focus,.work-article a:hover,
.social-links a:active, .social-links a:focus, .social-links a:hover {text-decoration:none}

.edge-css a:active,.edge-css a:focus,.edge-css a:hover{background-color:#FF1400}
.about-btn a:active,.about-btn a:focus,.about-btn a:hover{background-color:#3593B6}
.mailto a:active,.mailto a:focus,.mailto a:hover{background-color:#9DBD07}

@include min-screen(75em) {
  .nav-list a,
  .social-links a {text-decoration:none}
  .home-a a:hover,.home-a a:focus{color:#0C1425}
  .about-a a:hover,.about-a a:focus{color:#5AA4C0}
  .work-a a:hover,.work-a a:focus{color:#ff3000}
  .contact-a a:hover,.contact-a a:focus{color:#B2CC33}
}


/* Home Page main copy
   ========================================================================== */
.home-main-article h2 {
  font-family: 'Wendy One', sans-serif;
  font-weight:400;
  text-transform:uppercase;
  font-size:1.7rem;
  margin-top:0
}

.home-main-article p {
  color:#4E4C4C;
  margin-bottom:0;
  font-size:1.5rem
}

@include min-screen(30.0625em) {
  .home-main-article h2{font-size:18px;font-size:1.8rem}
}

@media only screen and (min-width: 37.5em) {
  .home-main-article h2{font-size:2.2rem}
  .home-main-article p{font-size:1.7rem}
}

@media only screen and (min-width: 48em) {
  .home-main-article h2{font-size:2.5rem}
  .home-main-article p{font-size:2rem}
}

@media only screen and (min-width: 62em) {
  .home-main-article h2{font-size:2.5rem}
  .home-main-article p{font-size:1.7rem}
}

@media only screen and (min-width: 75em) {
  .home-main-article h2{font-size:2.7rem}
  .home-main-article p{font-size:1.9rem}
}




/* Call to Action
   ========================================================================== */
.section-ctaction a {
  font-size:1.5rem;
  font-weight:bold;
  color:white;
}
