/* ==========================================================================
   Typo
   ========================================================================== */



/* Sets up that Base 10 stuff  10px/16 * 100 = 62.5% => 1rem = 10px
   ========================================================================== */
html {
  font-size: 62.5%;
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

body {
  font-size:1.4rem;
  line-height:1.5;
}






/* Font Family and more...
   ========================================================================== */
html {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
}


h1 {
  font-size:3.5rem;
  margin:0;
  font-family: 'Wendy One', sans-serif;
  font-weight:400;
  text-transform:uppercase;
}

h2 {
  font-size:1.9rem;
  margin:0.83em 0;
}

h3 {
  font-size:1.6rem;
  margin:1em 0;
}


/* Links
   ========================================================================== */
a,
a:visited {
  cursor: pointer;
  color: $text-color;
  -webkit-touch-callout: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline:0;
}
