/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */
   $text-color: #4E4C4C;
   $bg-color: #F4F7F6;
   $selection: #b3d4fc;

   $browser-up-bg: #ccc;
