/* ==========================================================================
Component => c-
This is a concrete, implementation-specific piece of UI.
Usually when we make changes to a Component’s ruleset, we will immediately
see those changes happening every (and only) where we’d expect.
Should not affect anything else in the site other than the Component itself.
========================================================================== */



/* Footer
   ========================================================================== */
.footer{background-color:#F4F7F6;padding-top:1.3em}
.footer p{text-align:center}
.footer strong{letter-spacing:0.1em}

.social-links {
 text-align: center;
 clear: both;
}
.social-links a {
 display: inline-block;
 padding: 0.5em 0.9em;
}



@media only screen and (min-width: 75em) {
  .footer{padding-top:0.8em}
  .footer-email{float:left}
  .footer-nav{float:right}
  .copy{clear:both;}

  .social-links a:active,
  .social-links a:focus,
  .social-links a:hover {color: #5AA4C0}
}
