<section class="sm:max-w-3xl mx-auto px-3 my-7">
  <article>
    <div>
      <h2 class="flex items-center my-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-12 h-12 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>

        <span
          class="text-xl bg-gradient-to-r from-yellow-500 to-orange-400 bg-clip-text text-transparent"
          >About</span
        >
      </h2>
      <div class="text-justify">
        <p>
          I'm Simon Nonnis, a frontend developer and I've been writing code from
          2009. I've started building websites for different clients and worked
          over the years for
          <a href="https://ignitecreates.com/" target="_blank">Ignite</a>,
          <a href="https://strike.co.uk/" target="_blank">Strike</a>,
          <a href="https://www.wi-q.com/about-us" target="_blank">wi-Q</a>
        </p>

        <p>
          I gained an extensive experience on all phases of the development
          lifecycle, simplifying the collaboration process between developers,
          UI designers and project managers to implement a collective vision for
          a project and deliver stable, fast and high quality websites.<br />
          Below you can see a short list of languages, tools, software that I
          love to work with:
        </p>
        <p>
          I love Javascript and "You don’t know JS" book series are a
          fundamental resource into my learning process. All the books are free
          to read on
          <a href="https://github.com/getify/You-Dont-Know-JS" target="_blank"
            >Github</a
          >
        </p>
        <p>Below you can see a list of technologies I used overtime:</p>

        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 my-8">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Html</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Css</a
            >
          </li>
          <li>
            <a
              href="https://github.com/getify/You-Dont-Know-JS"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Javascript</a
            >
          </li>
          <li>
            <a
              href="https://getbem.com/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Bem</a
            >
          </li>
          <li>
            <a
              href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Flexbox</a
            >
          </li>
          <li>
            <a
              href="https://css-tricks.com/snippets/css/complete-guide-grid/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Css grid layout</a
            >
          </li>
          <li>
            <a
              href="https://styled-components.com/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Styled components</a
            >
          </li>
          <li>
            <a
              href="https://prettier.io/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Prettier</a
            >
          </li>
          <li>
            <a
              href="https://tailwindcss.com/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Tailwindcss</a
            >
          </li>

          <li>
            <a
              href="https://react.dev/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >React</a
            >
          </li>
          <li>
            <a
              href="https://redux.js.org/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Redux</a
            >
          </li>
          <li>
            <a
              href="https://gulpjs.com/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Gulp</a
            >
          </li>
          <li>
            <a
              href="https://webpack.js.org/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Webpack</a
            >
          </li>
          <li>
            <a
              href="https://vitejs.dev/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Vite</a
            >
          </li>
          <li>
            <a
              href="https://www.atlassian.com/software/jira"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Jira</a
            >
          </li>
          <li>
            <a
              href="https://www.cypress.io/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Cypress.io</a
            >
          </li>
          <li>
            <a
              href="https://jestjs.io/docs/getting-started"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Jest</a
            >
          </li>

          <li>
            <a
              href="https://nodejs.org/en"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Node</a
            >
          </li>
          <li>
            <a
              href="https://expressjs.com/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Express</a
            >
          </li>
          <li>
            <a
              href="https://remix.run/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Remix</a
            >
          </li>
          <li>
            <a
              href="https://www.prisma.io/"
              target="_blank"
              class="rounded-md bg-stone-700 hover:bg-stone-600 px-5 py-2.5"
              >Prisma</a
            >
          </li>
        </ul>

        <div>
          <h3 class="my-7">Figuring Things Out</h3>
          <p>
            At the end though Web development is not all that much about coding,
            but often is about of figuring things out, getting in a mood to
            solving a small problem after the other. Sometimes is coded related,
            sometimes is just doing research about tooling, sometimes you get
            stucked and your brain doesn't process information, sometimes is
            fiddling around with configuration files.
          </p>
          <p>
            So to get better you need to cultivate your creative process to
            solve problems one piece at the time.
          </p>
        </div>
      </div>
    </div>
  </article>

  <vite-partial src="get-in-touch.html" />
</section>
