<section id="about" class="h-fit sm:max-w-3xl mx-auto px-3">
  <article>
    <div>
      <h2>
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
        </span>
        About
      </h2>
      <p>
        I'm Simon Nonnis, a frontend developer and I've been writing code from
        2009. I've started building websites for different clients and worked
        over the years for
        <a href="https://ignitecreates.com/" target="_blank">Ignite</a>,
        <a href="https://strike.co.uk/" target="_blank">Strike</a>,
        <a href="https://www.wi-q.com/about-us" target="_blank">wi-Q</a>
      </p>

      <p>
        I gained an extensive experience on all phases of the development
        lifecycle, simplifying the collaboration process between developers, UI
        designers and project managers to implement a collective vision for a
        project and deliver stable, fast and high quality websites.<br />
        Below you can see a short list of languages, tools, software that I love
        to work with:
      </p>

      <p>
        I love Javascript and "You don’t know JS" book series are a fundamental
        resource into my learning process. All the books are free to read on
        <a href="https://github.com/getify/You-Dont-Know-JS" target="_blank"
          >Github</a
        >
      </p>
      <p>Below you can see a list of technologies I used overtime</p>
    </div>

    <div>
      <h2>Skill Set</h2>
      <div>
        <ul>
          <li>Html</li>
          <li>Css, Scss, Bem</li>
          <li>Flexbox</li>
          <li>Css grid layout</li>
          <li>Css modules</li>
          <li>Styled components</li>
          <li>Javascript</li>
          <li>React</li>
          <li>Redux</li>
          <li>Redux saga</li>
          <li>Webpack, Gulp</li>
          <li>Git, Jira</li>
          <li>Cypress.io</li>
          <li>Jest</li>
          <li>Remix</li>
          <li>prisma</li>
          <li>tailwindcss</li>
          <li>node</li>
          <li>express</li>
          <li>vite</li>
        </ul>
      </div>
    </div>

    <div>
      <h3>Figuring Things Out</h3>
      <p>
        At the end though Web development is not all that much about coding, but
        often is about of figuring things out, getting in a mood to solving a
        small problem after the other. Sometimes is coded related, sometimes is
        just doing research about tooling, sometimes you get stucked and your
        brain doesn't process information, sometimes is fiddling around with
        configuration files.
      </p>
      <p>
        So to get better you need to cultivate your creative process to solve
        problems one piece at the time.
      </p>
    </div>
  </article>

  <vite-partial src="get-in-touch.html" />
</section>
