<section class="sm:max-w-3xl mx-auto px-3 my-7">
  <article>
    <div>
      <h2 class="flex items-center my-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-12 h-12 mr-2 animate-pulse animate-infinite animate-duration-[4000ms]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>

        <span
          class="text-stone-600 text-xl bg-gradient-to-r dark:from-lime-400 dark:to-lime-600 bg-clip-text dark:text-transparent"
          >About</span
        >
      </h2>
      <div class="text-justify">
        <div>
          <p class="pb-4 indent-14">
            Голь на вы́думку хитра́. Волко́в боя́ться — в лес не ходи́ть. Даю́т —
            бери́, а бьют – беги́. Дарёному коню́ в зу́бы не смо́трят.
            <a
              href="https://ignitecreates.com/"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >Ignite</a
            >,
            <a
              href="https://strike.co.uk/"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >Strike</a
            >,
            <a
              href="https://www.wi-q.com/about-us"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >wi-Q</a
            >.
          </p>

          <p class="pb-4">
            Голь на вы́думку хитра́.
            <a
              href="https://github.com/getify/You-Dont-Know-JS"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >You don’t know JS</a
            >
            Волко́в боя́ться — в лес не ходи́ть. Даю́т — бери́, а бьют – беги́.
            Дарёному коню́ в зу́бы не смо́трят.
          </p>

          <p class="pb-4">
            Голь на вы́думку хитра́. Волко́в боя́ться — в лес не ходи́ть. Даю́т —
            бери́, а бьют – беги́. Дарёному коню́ в зу́бы не смо́трят.
          </p>

          <p class="pb-4">
            Голь на вы́думку хитра́. Волко́в боя́ться — в лес не ходи́ть. Даю́т —
            бери́, а бьют – беги́. Дарёному коню́ в зу́бы не смо́трят:
          </p>
        </div>
        <div>
          <p class="pb-4 indent-14">
            I'm Simon Nonnis, a frontend developer and I've been writing code
            since 2009. I've started building websites for different clients and
            worked over the years for
            <a
              href="https://ignitecreates.com/"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >Ignite</a
            >,
            <a
              href="https://strike.co.uk/"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >Strike</a
            >,
            <a
              href="https://www.wi-q.com/about-us"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >wi-Q</a
            >.
          </p>

          <p class="pb-4">
            I love Javascript and
            <a
              href="https://github.com/getify/You-Dont-Know-JS"
              target="_blank"
              class="p-1 underline decoration-amber-500 decoration-wavy hover:no-underline focus:no-underline"
              >You don’t know JS</a
            >
            book series are a fundamental resource into my learning process.
          </p>

          <p class="pb-4">
            I gained an extensive experience on all phases of the development
            lifecycle, simplifying the collaboration process between developers,
            UI designers and project managers to implement a collective vision
            for a project and deliver stable, fast and high quality websites.
          </p>

          <p>
            Below you can see a short list of languages, tools, software that I
            love to work with:
          </p>
        </div>

        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 my-8">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-rose-500"
              >Html</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              target="_blank"
              dark:border-none
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-violet-400"
              >Css</a
            >
          </li>
          <li>
            <a
              href="https://github.com/getify/You-Dont-Know-JS"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-blue-400"
              >Javascript</a
            >
          </li>
          <li>
            <a
              href="https://getbem.com/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-lime-400"
              >Bem</a
            >
          </li>
          <li>
            <a
              href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-yellow-300"
              >Flexbox</a
            >
          </li>
          <li>
            <a
              href="https://css-tricks.com/snippets/css/complete-guide-grid/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-amber-500"
              >Css grid</a
            >
          </li>
          <li>
            <a
              href="https://styled-components.com/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-pink-400"
              >Styled components</a
            >
          </li>
          <li>
            <a
              href="https://prettier.io/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-blue-300"
              >Prettier</a
            >
          </li>
          <li>
            <a
              href="https://tailwindcss.com/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-rose-600"
              >Tailwindcss</a
            >
          </li>

          <li>
            <a
              href="https://react.dev/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-amber-400"
              >React</a
            >
          </li>
          <li>
            <a
              href="https://redux.js.org/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-orange-600"
              >Redux</a
            >
          </li>
          <li>
            <a
              href="https://gulpjs.com/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-lime-300"
              >Gulp</a
            >
          </li>
          <li>
            <a
              href="https://webpack.js.org/"
              target="_blank"
              class="transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-fuchsia-400"
              >Webpack</a
            >
          </li>
          <li>
            <a
              href="https://vitejs.dev/"
              target="_blank"
              class="dark:shadow-none dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-lime-300"
              >Vite</a
            >
          </li>
          <li>
            <a
              href="https://deno.com/runtime"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:"
              >Deno</a
            >
          </li>
          <li>
            <a
              href="https://www.cypress.io/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:"
              >Cypress.io</a
            >
          </li>
          <li>
            <a
              href="https://jestjs.io/docs/getting-started"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:"
              >Jest</a
            >
          </li>

          <li>
            <a
              href="https://nodejs.org/en"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-yellow-300"
              >Node</a
            >
          </li>
          <li>
            <a
              href="https://expressjs.com/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-amber-400"
              >Express</a
            >
          </li>
          <li>
            <a
              href="https://remix.run/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-red-500"
              >Remix</a
            >
          </li>
          <li>
            <a
              href="https://www.prisma.io/"
              target="_blank"
              class="dark:shadow-none transition-all ease-in duration-200 dark:border-none rounded-md bg-white border border-stone-300 hover:border-stone-400 dark:bg-stone-700 dark:hover:bg-stone-600 px-5 py-2.5 dark:text-sky-400"
              >Prisma</a
            >
          </li>
        </ul>

        <div>
          <p class="pb-4">
            Голь на вы́думку хитра́. Волко́в боя́ться — в лес не ходи́ть. Даю́т —
            бери́, а бьют – беги́. Дарёному коню́ в зу́бы не смо́трят.
          </p>
          <p class="pb-4">
            Голь на вы́думку хитра́. Волко́в боя́ться — в лес не ходи́ть. Даю́т —
            бери́, а бьют – беги́. Дарёному коню́ в зу́бы не смо́трят.
          </p>
        </div>
        <div>
          <p class="pb-4">
            At the end Web development is not all that much about coding, but
            often is about figuring things out, getting in a mood to solving a
            small problem after the other. Sometimes is coded related, sometimes
            is just doing research about tooling, sometimes is fiddling around
            with configuration files.
          </p>
          <p class="pb-4">
            So to get better you need to cultivate your creative process to
            solve problems one piece at the time.
          </p>
        </div>
      </div>
    </div>
  </article>

  <vite-partial src="get-in-touch.html" />
</section>
