<section id="contact" class="h-screen sm:max-w-3xl mx-auto px-3">
  <div>
    <article>
      <h2>Contact</h2>
      <p>
        I love working with people that are looking for results and at the same
        time see value in quality. People that want the best work and are always
        exploring new ways to simplify workflows.
      </p>
      <p>Let’s build something fabulous together!</p>
    </article>
  </div>

  <div>
    <div>
      <a href="mailto:simon.nonnis@mail.ru?subject=Nonnis | Website Enquiry"
        >simon.nonnis@mail.ru</a
      >
    </div>
  </div>
</section>
