<section id="contact">
  <div>
    <article>
      <h2>Contact</h2>
      <p>
        I love working with people that are looking for results and at the same
        time see value in quality. People that want the best work and are always
        exploring new ways to simplify workflows. I am a big fun of declarative
        programming and clean code over the imperative approach and very
        enthusiastic to use technologies like: React, Redux, GraphQl, RxJs,
        Cycle.js, Elm, Haskell. If you are excited like me about this new golden
        age in web development, contact me.
      </p>
      <p>Let’s build something fabulous together!</p>
    </article>
  </div>

  <div>
    <div>
      <a href="mailto:simon.nonnis@mail.ru?subject=Nonnis | Website Enquiry"
        >simon.nonnis@mail.ru</a
      >
    </div>
  </div>
</section>
