<header role="navigation" class="p-3 pb-7 sm:max-w-4xl mx-auto uppercase">
  <div class="flex items-center">
    <h1 class="w-16 h-16 sm:w-20 sm:h-20">
      <img
        src="src/images/svg/robot.svg"
        class="transition hover:drop-shadow-2xl focus:outline-gray-100"
        alt="robot logo"
      />
    </h1>

    <h2
      class="text-2xl bg-gradient-to-r from-rose-300 to-red-500 bg-clip-text text-transparent ml-5"
    >
      Keep it simple
    </h2>
  </div>
  <vite-partial src="divider.html" />
</header>
