<header role="banner">
  <h1 class="w-20 h-20">
    <a
      class="transition hover:drop-shadow-2xl focus:outline-gray-100"
      href="http://nonnis.ru"
      target="_blank"
    >
      <img src="src/images/svg/robot.svg" class="logo" alt="robot logo" />
    </a>
  </h1>

  <nav role="navigation">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#work">work</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>
</header>
