<section class="sm:max-w-3xl mx-auto px-3 my-28 sm:my-40">
  <div>
    <div>
      <p class="indent-16 pb-4">
        Всё гениальное - просто. Нагромождение сложностей снижает
        продуктивность. Чем проще код, тем легче его читать и тестировать. Моя
        работа, как разработчика состоит в том, чтобы писать код без ошибок,
        работающий, как швейцарские часы.
      </p>
      <p class="indent-16">
        Complexity is the enemy of productivity. Simple code with fewer moving
        parts is easier to read and test. As a developer my job is to write code
        without bugs that works like a swiss clock.
      </p>
    </div>

    <vite-partial src="get-in-touch.html" />
  </div>
</section>
