<section class="sm:max-w-3xl mx-auto px-3 my-7">
  <article>
    <h2 class="flex items-center my-7">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-12 h-12 mr-2 animate-pulse animate-infinite animate-duration-[4000ms]"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
        />
      </svg>

      <span
        class="text-xl bg-gradient-to-r from-yellow-500 to-orange-400 bg-clip-text text-transparent"
        >Work</span
      >
    </h2>
    <p class="pb-4 indent-14">
      Discover some of the projects I have completed in various teams with great
      satisfaction.
    </p>
  </article>

  <ul class="grid grid-cols-1 gap-6 my-8">
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/sq-1.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/sq-3.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/sq-4.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/sq-5.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/sq-6.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/sq-7.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/sq-8.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/sq-9.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/sq-10.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/x-1.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/x-2.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/x-3.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/x-4.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/x-5.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/x-6.png" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 skew-x-2">
      <img src="src/images/y-2.jpg" alt="" />
    </li>
    <li class="rounded-lg p-2 bg-cyan-400 -skew-x-2">
      <img src="src/images/y-1.jpg" alt="" />
    </li>
  </ul>
</section>
