/* ==========================================================================
   Utility => u-
   Should not be bound onto or changed.
   Never reassign to anything that carries a leading u-.
   Avoid building entire sections or components of UI out of u-.
========================================================================== */

/* Micro clearfix
   ========================================================================== */
.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}


.u-cf:after {
  clear: both;
}





/* ==========================================================================
   Text Related
   ========================================================================== */

/* Hide only visually, but have it available for screen readers
   ========================================================================== */
.u-visuallyHidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}


.u-overflowHidden {
  overflow: hidden !important;
}


.u-overflowVisible {
  overflow: visible !important;
}


.u-textLeft {
  text-align: left !important;
}


.u-textCenter {
  text-align: center !important;
}


.u-textRight {
  text-align: right !important;
}


.u-textUpperCase {
  text-transform: uppercase !important;
}


.u-textCapitalize {
  text-transform: capitalize !important;
}


.u-textItalic {
  font-style: italic !important;
}


.u-textNormal {
  font-style: normal !important;
}


/* Inherit the ancestor's text color.
   ========================================================================== */
.u-textInheritColor {
  color: inherit !important;
}


/* Break strings when their length exceeds the width of their container
   ========================================================================== */
.u-textBreak {
  word-break: break-word !important;
}


/* truncate with an ellipsis
   ========================================================================== */
.u-textTruncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}


/* Enables font kerning in all browsers.
   http://blog.typekit.com/2014/02/05/kerning-on-the-web/
   ========================================================================== */
.u-textKern {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}





/* ==========================================================================
   Blocks
   ========================================================================== */

.u-block {
  display: block !important;
}


.u-inlineBlock {
  display: inline-block !important;
  max-width: 100%;
}


/* Display Table for Vertical Align
   ========================================================================== */
.u-displayTable {
  display: table !important;
}


.u-displayTable > * {
  display: table-cell !important;
  vertical-align: middle !important;
}





/* ==========================================================================
   Position & Vertical alignment utilities
   ========================================================================== */

.u-position-rel {
  position: relative !important;
}


/* Vertical alignment
   ========================================================================== */
.u-alignMiddle {
  vertical-align: middle !important;
}


.u-alignTop {
  vertical-align: top !important;
}


.u-alignBottom {
  vertical-align: bottom !important;
}





/* ==========================================================================
   Link without any text-decoration.
   ========================================================================== */

.u-noTextDecoration,
.u-noTextDecoration:hover,
.u-noTextDecoration > a,
.u-noTextDecoration > a:hover,
.u-noTextDecoration > a:focus,
.u-noTextDecoration > a:active {
  text-decoration: none !important;
}





/* ==========================================================================
   Margin & Padding Flush
   ========================================================================== */

/* Margin Flush
   ========================================================================== */
.u-margin-t-flush {
  margin-top: 0 !important;
}


.u-margin-b-flush {
  margin-bottom: 0 !important;
}


.u-center {
  margin-left: auto !important;
  margin-right: auto !important;
}


/* Padding Flush
   ========================================================================== */
.u-padding-b-flush {
  padding-bottom: 0 !important;
}


